\venv
.env
\frontend\node_modules
\backup\frontend\node_modules
\node_modules
*\__pycache__\*
\app_name\migrations\__pycache__\*
\app_name\__pycache__\*
\project_name\__pycache__\*
\db.sqlite3
\Dockerfile
\eventhorizonDatabaseDumpImportant.dump.1
\eventhorizonDatabaseDumpImportantCopy.dump.1
\eventhorizonDatabaseJsonImportant.json
\eventdb.dump
\db.sqlite3
\db2.sqlite3
\AuthKey_C4XCG4M6DN.p8
\latest.dump
\michael_event_horizon.mobileprovision