venv/
.env
**/node_modules/
db.sqlite3
.cache_ggshield
development.cer
**/.vscode/
**/.idea/
**/__pycache__/
.editorconfig
**/migrations/
!**/migrations/__init__.py
!**/migrations/0001_initial.py
eventhorizonDatabaseJsonImportant.json
